@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  @apply text-penn-green;
}

p.active {
  @apply text-penn-green;
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  @variants last {
    .react-calendar-heatmap .color-scale-1 {
      fill: #d6e685;
    }
    .react-calendar-heatmap .color-scale-2 {
      fill: #8cc665;
    }
    .react-calendar-heatmap .color-scale-3 {
      fill: #44a340;
    }
    .react-calendar-heatmap .color-scale-4 {
      fill: #1e6823;
    }
  }
}

